.curation-form{
    display:flex;
    justify-content: center;
}

.curation-form>*{
    margin:5px;
}

.input-label{
    font-size: 1.7rem;
}

.input-field{
    height: 2rem;
    font-size: 1.7rem;
    text-shadow: none;
}

h2{
    text-align: center;
}