*{
    box-sizing: border-box;
    /* margin:5px; */
}

.curation-form{
    display:flex;
    justify-content: center;
}

.curation-form>*{
    margin:5px;
}

.input-label{
    font-size: 1.7rem;
}

.input-field{
    height: 2rem;
    font-size: 1.7rem;
    text-shadow: none;
}

.button{
    margin: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    color:inherit;
    transform: scale(.95);
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid black;
}
.button:hover{
    cursor: pointer;
    transform: scale(.90);
}

h2{
    text-align: center;
}