*{
  /*The other font is called: 'Yatra One', cursive; */
  /* font-family: 'Rakkas', cursive; */
  --bg-color-main:#324A72;
  font-family: 'Yatra One', cursive;
  font-weight: 100;
  background-color: var(--bg-color-main);
  color:white;
  text-shadow: 1px 1px 5px black;
}

.title-main{
  font-size: 5rem;
  text-align: center;
  font-weight:500;
}